---
layout: base
---

<div class='sidebar pipe'>

  <div class='box' id='klug'>
    KLUG
  </div>

  <div class='box' id='nav'>
    <a href='/'>Home</a><br/>
    <a href='/resources'>Resources</a><br/>
    <a href='http://github.com/klug/'>Code</a><br/>
    <a href='/faq'>FAQ</a><br/>
    <a href='/participate'>Participate</a><br/>
  </div>

</div>

<div class='page pipe'>

  <div class='box' id='title'>
    <h1>{{ page.title }}</h1>
  </div>

  <div class='box' id='body'>
    {{ content }}
  </div>

</div>
